@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --light-main: #f3f4f6;
    --light: white;
    --text: black;
}

[data-theme='dark'] {
    --light-main: #202d36;
    --light: #2b3743;
    --text: white;
}

.unset {
    all: unset
}

.gray-svg {
    filter: invert(73%) sepia(1%) saturate(40%) hue-rotate(314deg) brightness(93%) contrast(90%);
}

h1, h4, p {
    color: var(--text) !important;
}

body {
    background: var(--light-main);
    height: 100vh;
    padding-bottom: 4rem;
}

.bg-light {
    background-color: var(--light)
}
.bg-light-main {
    background-color: var(--light-main) !;
}